/*
    Deskripsi:
    File ini untuk Home.
    Created by: Limas Jaya Akeh
*/

/* Class */
body{
    background-image: url('../asset/darkbg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.content{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}


.content img{
    max-width: 100% !important;
    max-height: 100% !important;
}

.content h2{
    color: #f16601;
}

.btn-see-more{
    padding: 10px 20px;
    font-size: 22px;
    color: white;
    border: gold;
    border-style: solid;
}

.container{
    width: 100%;
    overflow: auto;
}

.slider_inner{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    float: left;
}

.slide{
    display: none;
    width: 100%;
    height: 100%;
}

.firstSlide img
{
    width: 100%;
    margin-left: 20px;
    margin-top: -125px;
}

.secondSlide img
{
    width: 100%;
    margin-bottom: -270px;
}

.lastSlide
{
    text-align: center;
    overflow: hidden;
}

.lastSlide img:first-child
{
    position: absolute;
    z-index: -1;
    left: -10%;
    width: 100%;
    top: -40%;
    max-width: unset !important;
    max-height: unset !important;
}

.lastSlide img:nth-child(2)
{
    width: 90%;
    margin-top: -70px;
    margin-left: 70px;
    margin-bottom: -100px;
}

.lastSlide img:nth-child(3)
{
    position: absolute;
    left: 10%;
    bottom: 5%;
    width: 60%;
    z-index: 1;
}

.active{
    display: inline-block;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    float: left;
    width: 80px;
    height: 100px;
    margin-top: 230px;
}

.prev{
    left: 0;
    margin-right: -45px;
    z-index: 11;
}

.next{
    right: 0;
    margin-left: -45px;
    z-index: 11;
}

.icon{
    display: none;
}

header{
    z-index: 2;
}

footer{
    z-index: 2;
}
/* ID */

#slide_info_1{
    position: absolute;
    top: 20%;
    left: 10%;
}

#slide_info_1 p
{
    margin-bottom: 50px;
    font-size: 20px;
}

#slide_info_1 h2
{
    font-size: 60px;
    margin: 0;
}

#slide_info_2{
    position: absolute;
    top: 40%;
    left: 40%;
}

#slide_info_2 a
{
    padding: 20px 30px;
    font-size: 40px;
}

#slide_info_3{
    position: absolute;
    top: 30%;
    right: 15%;
}

#slide_info_3 p
{
    font-size: 25px;
    margin-bottom: 40px;
}

#slide_info_3 a
{
    font-size: 30px;
    padding: 20px 30px;
}

#preregister{
    color:  rgb(238, 139, 21);
}

@media only screen and (max-width: 799px) 
{
    .firstSlide img
    {
        width: 100%;
        margin-top: 30%;
        margin-left: -15%;
    }

    #slide_info_1
    {
        left: 15%;
    }

    .secondSlide img
    {
        margin: 0;
        width: initial;
        margin-left: -15%;
        max-width: unset !important;
        max-height: unset !important;
    }

    #slide_info_2
    {
        top: 50%;
        left: 35%;
    }

    .lastSlide
    {
        padding-bottom: 100px;
    }

    .lastSlide img:first-child
    {
        top: -15%;
        left: 5%;
        width: 90%;
    }
    
    .lastSlide img:nth-child(2)
    {
        width: 100%;
        margin: 0;
        margin-left: 15%;
        margin-bottom: 60px;
    }
    
    .lastSlide img:nth-child(3)
    {
        left: 20%;
        bottom: 30%;
    }

    #slide_info_3
    {
        top: 70%;
        left: 15%;
        z-index: 1;
    }
}