/* 
    Created by Kevin
    Fixed by Ron
*/

body
{
    background-image: url("../asset/darkbg1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.title
{
    text-align: center;
    font-size: 36px;
    color: gold;
}

.lore-box
{
    display: table-cell;
    text-align: center;
}

.lore-box h2
{
    margin-top: 5px;
    color: gold;
    font-size: 30px;
    letter-spacing: 2px;
}

.lore-box img
{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.lore-box p
{
	font-size: 18px;
    text-align: justify;
    width: 450px;
    margin: 0px 30px;
}


@media only screen and (max-width: 799px)
{
    .title
    {
        margin: 0px;
        font-size: 40px;
    }

    .title h2
    {
        margin: 0px;
    }

    .content
    {
        text-align: center;
        margin: 0;
    }

    .lore-box
    {
        display: contents;
    }

    .lore-box p
    {
        font-size: 18px;
        text-align: justify;
        margin: 10px 0px 30px 20%;
    }
}