/* 
    Deskripsi:
    File ini adalah style utama yang akan kita gunakan
    agar desain nya konsisten, mengubah hal-hal penting dasar HTML
    seperti body, a, p, img, dll.
    Dalam File ini juga ada Header, Footer buat konsisten.
    UBAH APABILA PERLU SAJA! Soalnya ini bakal jadi dasar dari SEMUA FILE.
    Include FILE INI agar konsisten!
*/

/* Base HTML Element */
body {
    margin: 0;
    margin-top: 100px;
    padding: 0;
    font-family: 'Roboto Condensed';
    background-color: black;
}

img{
    max-width: 20em;
    max-height: 20em;
}

a{
    text-decoration: none;
    color:black;
    padding: 0;
    align-self: center;
}

footer{
    justify-content: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: gray;
}

p{
    color: white;
}

/* Untuk Header */
.header{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(144,144,144,0.2);
}

.header > a{
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 22px;
    color: lightgrey;
}

.header > a > img{
    max-width: 200px;
    max-height: 100px;
    padding: 20px 10px;
}

#preregister{
    color: rgb(238, 139, 21);
}

.hidden{
    display: none;
}

@media only screen and (max-width: 799px)
{
    .to-be-hidden
    {
        display: none;
    }

    .mobile-view{
        display: inline-block;
        text-align: center;
    }

    .hidden
    {
        display: flex;
        margin: 0 auto;
        text-transform: uppercase;
        font-size: 22px;
        color: lightgrey;
    }

    .header.responsive{
        position: relative;
        top: -100px;
        display: inline-block;
        text-align: center;
    }

    .header.responsive a{
        padding: 10px;
        display: block;
        text-align: center;
    }

}